[options]
; This is the password that allows database operations:
admin_passwd = admin
db_host = localhost
db_port = 5432
db_user = {{db_user}}
db_password = {{db_password}}
addons_path = /opt/odoo15/odoo/addons,/opt/odoo15/odoo-custom-addons