[Unit]
Description=Odoo15
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
SyslogIdentifier=odoo15
PermissionsStartOnly=true
User={{odoo_user}}
Group={{odoo_group}}
ExecStart={{virtualenv_path}}/bin/python3 /opt/odoo15/odoo/odoo-bin -c {{odoo_configuration_path}}
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target